name: 'Publish (example) using publish-agent'
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Publish package via publish-agent
        uses: ./.github/actions/publish-agent
        with:
          folder: '.'
          registry-url: ${{ secrets.ARTIFACTORY_URL }}
